<ion-view>
  <ion-content>
    <div class="span5 text-center vivo_container">
        <div id="escuchanosVivo">
            <div class="vivo_icon">
                <img src="main/assets/images/auric.png" alt="">
            </div>
            <div class="vivo_text">
                <img src="main/assets/images/radiowave-text.png" alt="">
            </div>
            <div class="vivo_controls" ng-class="{ playing: Main.playerState.playing}">
                <div class="play"  ng-click="Main.player.play()" ng-if="! Main.playerState.playing" >  <a class="mdi mdi-play  icon ion-ios-play "></a></div>
                <div class="pause" ng-click="Main.player.stop()" ng-if="  Main.playerState.playing" >  <a class="mdi mdi-pause icon ion-ios-pause"></a></div>
            </div>
        </div>
    </div>

    <div class="player programa_actual">
      <h4 ng-class="{ active: Main.playerState.timeshifting }" class="pointer text-center timeshift ion-refresh" ng-click="Main.toggleTimeshifting()">  </h4>
      <h3 class="nombre text-center"> {{ Main.state.currentShow.title }} </h3>
    </div>

<!--
    <div class="player programa_actual">
      <h3 class="nombre text-center"> {{ grilla.programaActual.nombre }} </h3>
      <h4 class="cancion text-center"> {{ songInfo.current.name }} </h3>
    </div>
-->
  </ion-content>
</ion-view>
